@import "../../functions";
// how it works start
div.how-it-works {
  @include width-height(100%, auto);
  background-color: var(--Grey);
  > div.wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    row-gap: 80px;
    padding-top: 80px;
    padding-bottom: 80px;
    // heading start
    > div.heading {
      display: flex;
      flex-flow: column nowrap;
      row-gap: 10px;
      @include width-height(405px, auto);
      > div.top {
        > p {
          color: var(--Dark-blue);
          font-family: "Poppins";
          font-size: 38px;
          font-style: normal;
          font-weight: 600;
          line-height: 50px; /* 133.333% */
          text-align: center;
        }
      }
      > div.middle {
        > p {
          color: var(--Dark-blue);
          font-family: "Poppins";
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px; /* 175% */
          opacity: 0.7;
          text-align: center;
          margin-top: 6px;
        }
      }
      div.bottom {
        display: flex;
        justify-content: right;
        > a {
          display: flex;
          flex-flow: row nowrap;
          column-gap: 10px;
          align-items: center;
          justify-content: center;
          > p {
            color: var(--Royal-Blue);
            font-family: "Poppins";
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px; /* 177.778% */
          }
          img {
            width: 18px;
          }
          &:active {
            color: var(--Royal-blue);
          }
        }
      }
    }
    // heading end
    // cards start
    > div.cards {
      @include width-height(656px, auto);
      display: flex;
      flex-flow: column nowrap;
      row-gap: 35px;
      > div.row {
        display: flex;
        flex-flow: row nowrap;
        @include width-height(100%, 100%/2);
        column-gap: 25px;
        > div {
          display: flex;
          flex-flow: column nowrap;
          align-items: center;
          row-gap: 10px;
          @include width-height(100%/2, 100%);
          > div.rect {
            @include width-height(40px, 40px);
            background-color: var(--Royal-blue);
            border-radius: 8px;
            position: relative;
            > img {
              @include width-height(40px, 40px);
            }
            > p.number {
              color: var(--White);
              font-family: "Poppins";
              font-size: 18px;
              font-style: normal;
              font-weight: 500;
              position: absolute;
              top: 6px;
              left: 12px;
            }
          }
          > p.h {
            color: var(--Dark-blue);
            font-family: "Poppins";
            font-size: 22px;
            font-style: normal;
            font-weight: 500;
            line-height: 48px; /* 150% */
          }
          > p.t {
            color: var(--Dark-blue);
            font-family: "Poppins";
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px; /* 175% */
            opacity: 0.7;
            text-align: center;
          }
        }
      }
    }
    // cards end
  }
}
// how it works end
