@import "../../functions";
// who we are start
div.who {
  @include width-height(100%, auto);
  div.wrapper {
    // text
    div.push {
      @include flex-column();
      position: relative;
      background-color: #f4f5f5;
      padding: 80px;
      padding-bottom: 420px;
      div.top {
        @include flex-row();
        column-gap: 30px;
        div.left {
          @include width-height(100%, auto);
          @include flex-column();
          p.one {
            color: var(--Dark-blue);
            font-family: "Poppins";
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px; /* 175% */
          }
          p.two {
            color: var(--Dark-blue);
            font-family: "Poppins";
            font-size: 30px;
            font-style: normal;
            font-weight: 600;
            line-height: 56px; /* 147.368% */
            margin-top: 4px;
          }
          p.three {
            color: var(--Dark-blue);
            font-family: "Poppins";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px; /* 175% */
            opacity: 0.7;
            margin-top: 16px;
            width: 90%; // W
          }
        }
        div.right {
          @include width-height(100%, auto);
          @include flex-column();
          padding-top: 32px;
          p.one {
            color: var(--Dark-blue);
            font-family: "Poppins";
            font-size: 30px;
            font-style: normal;
            font-weight: 900;
            line-height: 56px; /* 147.368% */
          }
          p.two {
            color: var(--Dark-blue);
            font-family: "Poppins";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px; /* 175% */
            opacity: 0.7;
            margin-top: 16px;
            width: 90%; // W
          }
        }
      }
      // image
      div.bottom {
        @include width-height(100%, auto);
        position: absolute;
        bottom: 0;
        left: 0;
        img {
          @include width-height(100%, 340px); // H
          object-fit: cover;
        }
      }
    }
  }
}
