footer {
    width: 100%;
    height: auto;
    background: #1C1E53;
    ;
    position: relative;
}

footer>div.inside-f {
    display: flex;
    flex-flow: column nowrap;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 81px;
}

footer>div.inside-f>div:nth-of-type(1) {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 300px;
}

footer>div.inside-f>div:nth-of-type(1)>div.left {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 10px;
    position: relative;
}

footer>div.inside-f>div:nth-of-type(1)>div.left>svg {
    width: 70px;
    height: 32.405px;
    flex-shrink: 0;
}

footer>div.inside-f>div:nth-of-type(1)>div.left>p {
    color: var(--White, #FFF);
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    opacity: 0.8;
    width: 100%;
    text-align: left;
}

footer>div.inside-f>div:nth-of-type(1)>div.left>div.contact-info {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 13px;
    width: 100%;
    height: 22%;
    background-color: #FCD980;
    position: absolute;
    bottom: 0;
}

footer>div.inside-f>div:nth-of-type(1)>div.left>div.contact-info>div {
    display: flex;
    flex-flow: column nowrap;
    width: 50%;
    margin-top: 5px;
    margin-left: 5px;
}

footer>div.inside-f>div:nth-of-type(1)>div.left>div.contact-info>div>p:nth-of-type(1) {
    color: var(--Dark-blue, #282938);
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    width: 100%;

}

footer>div.inside-f>div:nth-of-type(1)>div.left>div.contact-info>div>p:nth-of-type(2) {
    color: var(--Dark-blue, #282938);
    font-family: Poppins;
    font-size: 7px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    width: 100%;
    opacity: 0.8;

}

footer>div.inside-f>div:nth-of-type(1)>div.right {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 15px;
    padding-left: 13px;
}

footer>div.inside-f>div:nth-of-type(1)>div.right>p:nth-of-type(1) {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 34px;
}

footer>div.inside-f>div:nth-of-type(1)>div.right>p:nth-of-type(2) {
    color: var(--Grey, #F4F6FC);
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    opacity: 0.8;
    width: 100%;
}

footer>div.inside-f>div:nth-of-type(1)>div.right>div.media-icon {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 20px;
    width: 30%;
    margin-top: 8px;
}

footer>div.inside-f>div:nth-of-type(1)>div.right>div.media-icon>a {
    display: inline-block;
    width: fit-content;
    height: fit-content;
    text-decoration: none;
}

footer>div.inside-f>div:nth-of-type(1)>div.right>div.media-icon>a>svg {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    color: #FFFFFF;
}

footer>div.inside-f>div:nth-of-type(2) {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 20px;
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
}

footer>div.inside-f>div:nth-of-type(2)>p {
    color: var(--Dark-blue, #282938);
    font-family: Poppins;
    font-size: 9px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 40%;
}

footer>div.inside-f>div:nth-of-type(2)>div {
    width: 60%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    line-height: 100%;
    flex-flow: row nowrap;
    text-align: center;
    align-items: center;
    column-gap: 10px;
    margin-right: 10px;
}

footer>div.inside-f>div:nth-of-type(2)>div>a {
    display: inline-block;
    text-decoration: none;
}

footer>div.inside-f>div:nth-of-type(2)>div>a>p {
    color: var(--Dark-blue, #282938);
    font-family: Poppins;
    font-size: 8px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    text-transform: capitalize;
}