div.features {
  width: 100%;
  height: auto;
  background: var(--Grey, #f4f6fc);
}
div.features > div.inside-f {
  padding-top: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
  padding-right: 50px;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 47px;
  align-items: center;
}
div.features > div.inside-f > div.header {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 12px;
  align-items: center;
  width: 630px;
}
div.features > div.inside-f > div.header > p:nth-of-type(1) {
  color: var(--Dark-blue, #282938);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
}
div.features > div.inside-f > div.header > p:nth-of-type(2) {
  color: var(--Dark-blue, #282938);
  text-align: center;

  /* Heading 2 */
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px; /* 133.333% */
}
div.features > div.inside-f > div.cards {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column wrap;
  row-gap: 12px;
  justify-items: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}
div.features > div.inside-f > div.cards > div.sub-card {
  width: 100%;
  height: auto;
  display: grid;
  column-gap: 4%;
  row-gap: 5%;
  grid: 50%/32% 32% 32%;
}
div.features > div.inside-f > div.cards > div.sub-card > div {
  width: 80%;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 12px;
  background: #fff;
}
div.features > div.inside-f > div.cards > div.sub-card > div > img {
  width: 32px;
  height: 27.921px;
  flex-shrink: 0;
}
div.features
  > div.inside-f
  > div.cards
  > div.sub-card
  > div
  > p:nth-of-type(1) {
  color: var(--Dark-blue, #282938);

  /* Heading 6 */
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 150% */
}
div.features
  > div.inside-f
  > div.cards
  > div.sub-card
  > div
  > p:nth-of-type(2) {
  color: var(--Dark-blue, #282938);

  /* Paragraph */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  opacity: 0.7;
}
