div.our-work {
  width: 100%;
  height: auto;
  background-color: white;
}

div.our-work > div.inside-work {
  padding-top: 128px;
  padding-bottom: 128px;
  padding-left: 160px;
  padding-right: 160px;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 64px;
}

div.our-work > div.inside-work > div.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
}

div.our-work > div.inside-work > div.header > p {
  color: var(--Dark-blue, #282938);

  /* Heading 2 */
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
  /* 133.333% */
}

div.our-work > div.inside-work > div.header > a {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 16px;
  align-items: center;
  text-decoration: none;
}

div.our-work > div.inside-work > div.header > a > p {
  color: #282938;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  /* 175% */
  text-transform: capitalize;
}

div.our-work > div.inside-work > div.header > a > svg {
  width: 24px;
  height: 15px;
  flex-shrink: 0;
  fill: var(--Royal-Blue, #2405f2);
  stroke-width: 1.5px;
  stroke: var(--Dark-blue, #282938);
}

div.our-work > div.inside-work > div.content {
  display: grid;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  column-gap: 23px;
  grid: 51%/59% 32% 0%;
}

div.our-work > div.inside-work > div.content > div {
  width: 100%;
  height: auto;
  position: relative;
}

div.our-work > div.inside-work > div.content > div:nth-of-type(1) {
  grid-row: 1/4;
}

div.our-work > div.inside-work > div.content > div:nth-of-type(3) {
  grid-column: 2;
}

div.our-work > div.inside-work > div.content > div > a {
  display: block;
  text-decoration: none;
}

div.our-work > div.inside-work > div.content > div > a > div.card-1 {
  width: 100%;
  height: inherit;
  position: relative;
  overflow: hidden;
}

div.our-work
  > div.inside-work
  > div.content
  > div:nth-of-type(2)
  > a
  > div.card-1 {
  width: 100%;
  height: inherit;
  position: relative;
  overflow: hidden;
  text-align: center;
}

div.our-work
  > div.inside-work
  > div.content
  > div:nth-of-type(3)
  > a
  > div.card-1 {
  width: 100%;
  height: inherit;
  position: relative;
  overflow: hidden;
  text-align: center;
}

div.our-work > div.inside-work > div.content > div > a > div.card-1 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

div.our-work
  > div.inside-work
  > div.content
  > div:nth-of-type(2)
  > a
  > div.card-1
  > img {
  width: 85%;
  text-align: center;
}

div.our-work
  > div.inside-work
  > div.content
  > div:nth-of-type(3)
  > a
  > div.card-1
  > img {
  width: 82%;
  text-align: center;
}

div.our-work > div.inside-work > div.content > div > a > div.cover {
  width: 50%;
  height: 88%;
  background: linear-gradient(
    329deg,
    #1c1e53 -10.96%,
    rgba(28, 30, 83, 0.42) 103.96%
  );
  padding-left: 40px;
  padding-bottom: 66px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  row-gap: 16px;
  position: absolute;
  top: 0;
  left: -450px;
  transition: 3000ms;
  display: none;
}

div.our-work
  > div.inside-work
  > div.content
  > div:nth-of-type(2)
  > a
  > div.cover {
  /* display: block; */
  left: 35px;
  height: 68%;
  width: 79%;
  padding-top: 59px;
  /* padding: 20px; */
  padding-left: 20px;
  padding-bottom: 20px;
}

div.our-work
  > div.inside-work
  > div.content
  > div:nth-of-type(3)
  > a
  > div.cover {
  /* display: block; */
  left: 35px;
  height: 68%;
  width: 79%;
  padding-top: 59px;
  /* padding: 20px; */
  padding-left: 20px;
  padding-bottom: 20px;
}

div.our-work > div.inside-work > div.content > div > a:hover div.cover {
  left: 0;
  display: flex;
  transition: 3000ms;
}

div.our-work
  > div.inside-work
  > div.content
  > div:nth-of-type(2)
  > a:hover
  div.cover {
  left: 36px;
  display: flex;
  transition: 3000ms;
}

div.our-work
  > div.inside-work
  > div.content
  > div:nth-of-type(3)
  > a:hover
  div.cover {
  left: 38px;
  display: flex;
  transition: 3000ms;
}

div.our-work > div.inside-work > div.content > div > a > div.cover > p {
  color: var(--White, #fff);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  /* 150% */
}

div.our-work
  > div.inside-work
  > div.content
  > div
  > a
  > div.cover
  > p:nth-of-type(2) {
  color: var(--White, #fff);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  /* 175% */
  opacity: 0.8;
}

div.our-work
  > div.inside-work
  > div.content
  > div:nth-of-type(2)
  > a
  > div.cover
  > p:nth-of-type(2) {
  display: none;
}

div.our-work
  > div.inside-work
  > div.content
  > div:nth-of-type(3)
  > a
  > div.cover
  > p:nth-of-type(2) {
  display: none;
}

div.our-work > div.inside-work > div.content > div > a > div.cover > div {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 16px;
  margin-top: 24px;
}

div.our-work > div.inside-work > div.content > div > a > div.cover > div > p {
  color: var(--Yellow, #fcd980);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  /* 175% */
  text-transform: capitalize;
}

div.our-work > div.inside-work > div.content > div > a > div.cover > div > svg {
  width: 24px;
  height: 28px;
  flex-shrink: 0;
  stroke-width: 1.5px;
  stroke: var(--Yellow, #fcd980);
}

div.our-work > div.inside-work > div.content > div.cards {
  width: 50%;
  height: auto;
  background-color: white;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 32px;
  top: -23px;
}

div.our-work > div.inside-work > div.content > div.cards > div.card-1 {
  width: 100%;
  height: auto;
  flex-shrink: 0;
  text-align: center;
}

div.our-work
  > div.inside-work
  > div.content
  > div.cards
  > div.card-1:nth-of-type(1):hover
  div.cover {
  display: flex;
  transition: 300ms;
}

div.our-work
  > div.inside-work
  > div.content
  > div.cards
  > div.card-1:nth-of-type(2):hover
  div.cover {
  display: flex;
  transition: 300ms;
  top: 251px;
}

div.our-work > div.inside-work > div.content > div.cards > div.card-1 > img {
  width: 80%;
}

div.our-work
  > div.inside-work
  > div.content
  > div.cards
  > div.card-1:nth-last-of-type(1)
  > div.cover {
  width: 100%;
  height: 47%;
  background: linear-gradient(
    329deg,
    #1c1e53 -10.96%,
    rgba(28, 30, 83, 0.42) 103.96%
  );
  position: absolute;
  top: 0;
  display: flex;
  flex-flow: column wrap;
  row-gap: 10px;
  justify-content: flex-end;
  display: none;
  transition: 300ms;
}

div.our-work
  > div.inside-work
  > div.content
  > div.cards
  > div.card-1:nth-last-of-type(2)
  > div.cover {
  width: 100%;
  height: 46%;
  background: linear-gradient(
    329deg,
    #1c1e53 -10.96%,
    rgba(28, 30, 83, 0.42) 103.96%
  );
  position: absolute;
  top: 0;
  display: flex;
  flex-flow: column wrap;
  row-gap: 10px;
  justify-content: flex-end;
  display: none;
  transition: 300ms;
}

div.our-work
  > div.inside-work
  > div.content
  > div.cards
  > div.card-1
  > div.cover
  > p {
  color: var(--White, #fff);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  /* 150% */
  width: 259px;
  margin-left: 56px;
  text-align: left;
}

div.our-work
  > div.inside-work
  > div.content
  > div.cards
  > div.card-1
  > div.cover
  > div {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 16px;
  margin-left: 56px;
  margin-bottom: 45px;
  cursor: pointer;
}

div.our-work
  > div.inside-work
  > div.content
  > div.cards
  > div.card-1
  > div.cover
  > div
  > p {
  color: var(--Yellow, #fcd980);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  /* 175% */
}

div.our-work
  > div.inside-work
  > div.content
  > div.cards
  > div.card-1
  > div.cover
  > div
  > svg {
  width: 24px;
  height: 28px;
  flex-shrink: 0;
  stroke-width: 1.5px;
  stroke: var(--Yellow, #fcd980);
}
